@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

html {
  background-color: #000000;
}

.body{
  position:fixed;
  margin-top: 10%;
  margin-left: 40%;
  border: 2px solid gray;
  padding: 20px;
  /* width: auto; */

}

#result {
  margin-left: 5%;
  font-family: Poppins;
  color: aliceblue;
}

/* #textbox{
  margin-left: 5%;
}*/

#operator{
  margin-left: 30%;
}
